<div class="container my-5">
    <div class="row">

        <form [formGroup]="customerDetail" (ngSubmit)="onCustomerDetail()">

            <div class="col-12">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Name" formControlName="name">
            </div>

            <div formArrayName="address" class="col-12">

                <div *ngFor="let data of customerDetail.get('address')['controls']; let i = index" class="row">

                    <div [formGroupName]=i class="col-12 px-5 py-3">

                        <div class="mb-3">
                            Address {{i}}
                        </div>

                        <div class="mb-3">
                            <label>Country</label>                            
                            <select (change)="getState(i,$event)" class="form-control" formControlName="country">
                                <option value="">Select Country</option>
                                <option value="91">India</option>
                                <option value="92">USA</option>
                                <option value="94">UK</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label>State</label>                           
                            <select (change)="getCity(i,$event)" class="form-control" formControlName="state">
                                <option value="">Select State</option>
                                <option *ngFor="let state of stateList[i]" [value]="state.id">{{state?.name}}</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label>City</label>
                            <select class="form-control" formControlName="city">
                                <option value="">Select City</option>
                                <option *ngFor="let city of cityList[i]" [value]="city.id">{{city?.name}}</option>
                            </select>
                        </div>

                    </div>

                </div>
                
            </div>

            <div class="col-12 text-right mb-3">
                <button (click)="addMore()">Add More</button>
            </div>

            <div class="col-12">
                <button type="submit">Submit</button>
            </div>

        </form>

    </div>
</div>